$primary-text-color: #212121;
$secondary-bg-color: #f5f4fa;
$border-color: #afb1b8;
$secondary-border-color: #757575;
$accent: #2196f3;
$white: #ffffff;
$black: #000000;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
