.registration-container {
  padding: 20px;

  .registration-title {
    font-weight: 500;
    font-size: 34px;
    margin-bottom: 50px;
    text-align: center;
  }

  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}
