.home-container {
  text-align: center;
  padding: 20px;

  .title {
    font-weight: 500;
    font-size: 34px;
  }

  .sub-title {
    font-size: 22px;
    margin-bottom: 50px;
  }

  .home-image {
    border-radius: 10px;
  }
}
